pip>=9
setuptools>=26
wheel>=0.29
pandas==0.24.2
pytest==5.4.3
coverage==5.2.1
flake8
black
yapf
python-gitlab
twine
stanza==1.1.1
docx2txt==0.8
gensim==3.8.3
numpy==1.18.4
textstat==0.6.2
nltk==3.5
spacy==2.3.2
statistics
wordcloud==1.8.0
